/*顶部线条*/
.hs_header{
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #6510ad 60%, #104fad);
}
html{
    background: pink;

}

/*字体图标的使用*/





/*导航栏*/

.hs_nav {
    width: 100%;
    margin: 0 auto;
    height: 156px;
    background: #cccccc;
}
.hs_nav_da{
    width: 100%;
    height: 156px;
    padding: 0 60px;
    display: flex;
    /*flex-flow: nowrap;*//*居中*/
    justify-content: space-between;/*两端对齐*/
    text-align: center;
}
.hs_nav_da .hs_nav_right{
    display: flex;
    align-items: center;/*垂直居中对齐*/
}
.hs_nav_da .hs_nav_right img{
    width: 100%;
}
.hs_nav_da .hs_nav_left{}
.hs_nav_da .hs_nav_left li{
    float: left;
    width: 1.23rem;
}
.hs_nav_da .hs_nav_left li a{}
.hs_nav_da .hs_nav_switch{
    display: none;
}
.hs_nav_da .hs_nav_switch span{}
@media (min-width: 768px) {
    /*屏幕尺寸满足这个最小宽度则生效*/
    .hs_nav {
        width: 100%;
    }
}

@media (min-width: 992px) {
    /*屏幕尺寸满足这个最小宽度则生效*/
    .hs_nav {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .hs_nav {
        width: 100%;
    }
}