@charset "UTF-8";
/*样式模块 */

//reset css
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "Microsoft YaHei UI", sans-serif;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}






